[submodule "ralloc"]
	path = ralloc
	url = https://github.com/redox-os/ralloc
[submodule "bos_emulator/bosemu-testproc"]
	path = bos_emulator/bosemu-testproc
	url = git@git.tscs37.eu:tscs37/bosemu_testproc.git
